
body {
    background-image: url("assets/images/Background.jpg");
    background-color: grey;
}
/* some comment */
.container {
    position: relative;   
    margin: 0 auto;
}

.container img {vertical-align: top;}

.container .content {
    
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    
    width: 100%;

}
.jumbotron {
    padding: 0rem;
}

.txtcolor1 {
    color: blue;
}

.GameBackground{
    background-color: #deb887;
    opacity: 0.8;
    padding-top: 4rem;
    padding-bottom: 4rem;
   
}

.LeftBackground{
    background-color: Grey;
    opacity: 0.7;
    padding-top: 8rem;
    padding-bottom: 4rem;
    color: yellow;
   
}

.RightBackground{
    background-color: Grey;
    opacity: 0.7;
    padding-top: 8rem;
    padding-bottom: 4rem;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;