/*================================================
            Table of contents  
==================================================
 
1. Layout greater than 768px
2. Layout lesser than 768px
3. Layout lesser than 460px

====================================================
            End table content
===================================================*/

/*-------------------------------------------------------*/
/* Layout greater than 768px */
/*-------------------------------------------------------*/
@media only screen and (min-width: 768px){
 .header.shrink .navbar-nav li a{padding: 20px 15px}
    
  .header .navbar-nav li a {padding: 30px 15px; }
  .service-style-2 .col-md-4.col-sm-6:nth-child(-n+4) .single-service {
  margin-bottom: 30px;
}
  .service-style-2 .col-md-4.col-sm-6:nth-child(-n+4) .single-service {
  margin-bottom: 30px;
}
.portfolio-column-count-4 .portfolio-item {
  width: 33.3%!important;
}
.search-form{
  margin-top: 80px !important;
}
.alignleft{
  float: left;
}
.alignright{
  text-align: left;
}

}

/*-------------------------------------------------------*/
/* Layout lesser than 768px */
/*-------------------------------------------------------*/
@media only screen and (max-width: 767px){

  .header .navbar-nav { float: none; background-color: #fff; }
    
  .header.shrink .navbar-nav li a,
  .header .navbar-nav li a { padding: 10px 10px; color: #222; }
  
  .sidebar-menu .navbar-collapse{box-shadow: none;}
    
    .sidebar-menu .collapse{display: block;}
   .slider-area h1 {
font-size: 30px;
  }
  .slider-area h3 {
    font-size: 22px;
  }
  .pagination-area {
  margin-top: 60px;
}
.counter-item{
  margin-bottom: 30px;
}

.area-heading-style-two {
  width: 100%;
}
.text-left .portfolio-filter > li {
  margin: 0 30px 15px 0;
}
.text-left .portfolio-filter > li:last-child {
  margin: 0;
}
.portfolio-filter > li + li {
      margin-left: 5px;
    margin-top: 10px;
}
}
.portfolio-column-count-4 .portfolio-item {
  width: 100%;
}
.service-style-2 .col-md-4.col-sm-6:nth-child(-n+5) .single-service {
  margin-bottom: 30px;
}
.silicon-standard-row {
  padding: 80px 0;
}
.search-form{
  margin-top: 80px !important;
}
.alignleft{
  float: left;
}
.alignright{
  text-align: left;
}
.slider-area.home-bg .container {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}
}

/*-------------------------------------------------------*/
/* Layout lesser than 460px */
/*-------------------------------------------------------*/
@media only screen and (max-width: 480px){
   .slider-area h1{
     font-size: 25px!important;
  }
  .slider-area h3 {
    font-size: 16px;
  }
  .portfolio-column-count-4 .portfolio-item {
  width: 100%;
}
}





