body {
  font-family: 'Montserrat', sans-serif;
  background-color: bisque;

}

.jumbotron{
  background-color:bisque;
  padding: 0px;
}
.jumbotrondiv{
  text-align: center;
  Text-decoration: yellow;
  color: blanchedalmond;
  background-color: brown;
  padding: 0px;
  margin: 0px;
}

#EmployeeName, #Role, #Date, #Rate, #Zip, #StreetAddress, #City, #Country{
  color: red; 
  background-color: bisque;
}

.title {
    background: Brown;
    padding: 10px 0px 10px 10px;
    color: blanchedalmond;
}

th{
    padding: 0 4em 0 0;
    color: brown;
}

/* Form */